.infoConteiner{
    display: flex;
}

.containerName{
    text-align: center;
    font-size: 35px;
    color: #181818;
}
.movieInfo{
    color: rgb(17, 16, 16);
    margin: 5px;
    font-size: 25px;
    list-style-type: none;
}
.link{
display: inline-flex;
    align-items: center;
    margin-top: 15px;
    font-weight: var(--font-bold);
    color: black;
    text-decoration: none;
}
.link__img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    object-fit: cover;
    object-position: center center;
}
.image_favorite{
    width: 35px;
    height: 35px;
    position: absolute;
    top: -15px;
    right: -15px;
    object-fit: cover;
    object-position: center center;
    filter: drop-shadow(0 0 2px #000);
    cursor: pointer;
}

.image_container{
    position: relative;
    top: 0;
    left: 0;
}