.root {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #2d313a;
    z-index: 100;

}
/*.root1{*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    background-color: #2d313a;*/
/*}*/