:root{
 --color-white: #fff;
 --color-black: #000;
 --color-blue: #6a83fb;
 --color-dark-grey: #10100e;
 --color-violet: #454922;
 --border-radius-smail: 3px;
 --spasing-medium: 20px;
 --font-family-main: sans-serif;

 --theme-default-header: var(--theme-neitral-header);
 --theme-light-header: #dfe2df;
 --theme-dark-header: #ca6c6f;
 --theme-neitral-header: #cccc46;

--color-light: #29e52d;
 --color-dark: #d82228;
 --color-neitral: #100e10;
 --color-shadow-light: rgba(41, 229, 45,.4);
 --color-shadow-dark: rgba(216, 34, 40, .4);
 --color-shadow-neitral: rgba(224, 224, 81, .4);
/*linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);*/
 --theme-default-background: var(--theme-neitral-background);
 --theme-light-background: linear-gradient(to left bottom, #61b064, #7fb763, #9abe64, #b4c468, #cdca6e);
 --theme-dark-background:  linear-gradient(to right top, #120537, #170d60, #1d108c, #2112ba, #2512eb);
 --theme-neitral-background: url('../static/sky-clouds-texture-background-preview.jpg');

 --transition: .4s;
 --text-shadow-yellow:
         0 0 2px var(--color-white),
 0 0 40px var(--color-blue);
--width-max: 1200px;
 --font-bold: 600px;
}
body {
 margin: 0;
padding: 0;
 background-color: #6777c9;
 font-family: var(--font-family-main);
 font-size: 16px;
 background-image: var(--theme-default-background);
 background-size: cover ;
 background-repeat: no-repeat;
 background-position: top left;
 background-attachment: fixed;
}
.img{
 display: block;
}

.header_text{
 line-height: 1.7;
 font-size: 26px;
 text-shadow: 0 0 2px var(--color-black);
 color: var( --theme-default-header);
 transition: color var(--transition);
}
