:root{
 --color-white: #fff;
 --color-black: #000;
 --color-blue: #6a83fb;
 --color-dark-grey: #10100e;
 --color-violet: #402249;
 --border-radius-smail: 3px;
 --spasing-medium: 20px;
 --font-family-main: sans-serif;
 --theme-default-header: #cccc46;
 --theme-default-film-lopo: url('../static/film-loop.jpg');
 --theme-default-background-info: url('../static/sky-clouds-texture-background-preview.jpg');
 --transition: .4s;
 --text-shadow-yellow:
         0 0 2px var(--color-white),
 0 0 40px var(--color-blue);
--width-max: 1200px;
}
body {
 margin: 0;
padding: 0;
 background-color: #6777c9;
 font-family: var(--font-family-main);
 font-size: 16px;
 background-image: var(--theme-default-background-info);
 background-size: cover ;
 background-repeat: no-repeat;
 background-position: top left;
 background-attachment: fixed;
}
.img{
 display: block;
}

.header_text{
 line-height: 1.7;
 font-size: 26px;
 text-shadow: 0 0 2px var(--color-black);
 color: var( --theme-default-header);
 transition: color var(--transition);
}
